@import "compass/css3";

$innercircles-width: 50px !default;
$innercircles-height: 50px !default;
$innercircles-one-color: #19a598 !default;
$innercircles-two-color: #c7efcf !default;
$innercircles-three-color: #eef5db !default;
$innercircles-animation-time: 3s !default;

/* :not(:required) hides this rule from IE9 and below */
.innercircles-loader:not(:required) {
  @include transform(translate3d(0, 0, 0));
  position: relative;
  display: inline-block;
  width: $innercircles-width;
  height: $innercircles-height;
  background: rgba($innercircles-one-color, .5);
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999px;
  /* Hides inner circles outside base circle at safari */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 0;
    display: inline-block;
    width: $innercircles-width;
    height: $innercircles-height;
    border-radius: 50%;
  }

  &:before {
    @include animation(innercircles $innercircles-animation-time infinite);
    @include transform-origin(0, 50%);
    left: 0;
    background: $innercircles-two-color;
  }

  &:after {
    @include animation(innercircles $innercircles-animation-time .2s reverse infinite);
    @include transform-origin(100%, 50%);
    right: 0;
    background: $innercircles-three-color;
  }
}

@include keyframes(innercircles) {
  0%   { @include transform(rotate(0deg)) }
  50%  { @include transform(rotate(360deg)) }
  100% { @include transform(rotate(0deg)) }
}
