@import "compass/css3";

$pong-loader-size: 1em !default;
$pong-loader-speed: 1500ms !default;
$pong-loader-color: #8cdb8b !default;

$pong-loader-size-double: 2 * $pong-loader-size !default;
$pong-loader-size-neg: 0 - $pong-loader-size !default;
$pong-loader-black: #353c39 !default;

@include keyframes(pong-loader) {
  0%   {
    left: 0.5 * $pong-loader-size;
    top: 0;
  }
  25%   {
    left: 6.5 * $pong-loader-size;
    top: 2 * $pong-loader-size;
  }
  50%   {
    left: 0.5 * $pong-loader-size;
  }
  62.5% {
    top: 5 * $pong-loader-size;
  }
  75%   {
    left: 6.5 * $pong-loader-size;
    top: 70%;
  }
  100%   {
    left: 0.5 * $pong-loader-size;
    top: 0%;
  }
}

@include keyframes(paddle1-loader) {
  0%   {
    @include box-shadow(
      inset $pong-loader-black 0 (0.5 * $pong-loader-size) 0 0,
      inset $pong-loader-black 0 (3.5 * $pong-loader-size-neg) 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size-neg) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  25%   {
    @include box-shadow(
      inset $pong-loader-black 0 (1.5 * $pong-loader-size) 0 0,
      inset $pong-loader-black 0 (2.5 * $pong-loader-size-neg) 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size-neg) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  50%   {
    @include box-shadow(
      inset $pong-loader-black 0 0 0 0,
      inset $pong-loader-black 0 (4 * $pong-loader-size-neg) 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size-neg) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  62.5% {
    @include box-shadow(
      inset $pong-loader-black 0 $pong-loader-size 0 0,
      inset $pong-loader-black 0 (3 * $pong-loader-size-neg) 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size-neg) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  75%   {
    @include box-shadow(
      inset $pong-loader-black 0 (4 * $pong-loader-size) 0 0,
      inset $pong-loader-black 0 0 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size-neg) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  100%   {
    @include box-shadow(
      inset $pong-loader-black 0 (0.5 * $pong-loader-size) 0 0,
      inset $pong-loader-black 0 (3.5 * $pong-loader-size-neg) 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size-neg) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
}

@include keyframes(paddle2-loader) {
  0%   {
    @include box-shadow(
      inset $pong-loader-black 0 0 0 0,
      inset $pong-loader-black 0 (4 * $pong-loader-size-neg) 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  50%   {
    @include box-shadow(
      inset $pong-loader-black 0 (3 * $pong-loader-size) 0 0,
      inset $pong-loader-black 0 $pong-loader-size-neg 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  62.5% {
    @include box-shadow(
      inset $pong-loader-black 0 (4 * $pong-loader-size) 0 0,
      inset $pong-loader-black 0 0 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  75%   {
    @include box-shadow(
      inset $pong-loader-black 0 (2 * $pong-loader-size) 0 0,
      inset $pong-loader-black 0 (2 * $pong-loader-size-neg) 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  100%   {
    @include box-shadow(
      inset $pong-loader-black 0 0 0 0,
      inset $pong-loader-black 0 (4 * $pong-loader-size-neg) 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
}

/* :not(:required) hides this rule from IE9 and below */
.orbit-loader:not(:required) {
  width: 8 * $pong-loader-size;
  height: 6 * $pong-loader-size;
  background: $pong-loader-black;
  position: relative;
  display:inline-block;
  overflow: hidden;
  text-indent: 100%;
  @include box-shadow(
    inset $pong-loader-black 0 0 0 0,
    inset $pong-loader-black 0 (4 * $pong-loader-size-neg) 0 0,
    inset $pong-loader-black (0.3 * $pong-loader-size-neg) 0 0 0,
    inset $pong-loader-color $pong-loader-size-neg 0 0 0
  );
  @include animation(paddle1-loader $pong-loader-speed infinite linear);
  &:before{
    @include animation(paddle2-loader $pong-loader-speed infinite linear);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: $pong-loader-size;
    height: 100%;
    @include box-shadow(
      inset $pong-loader-black 0 0 0 0,
      inset $pong-loader-black 0 (4 * $pong-loader-size-neg) 0 0,
      inset $pong-loader-black (0.3 * $pong-loader-size-neg) 0 0 0,
      inset $pong-loader-color $pong-loader-size-neg 0 0 0
    );
  }
  &:after{
    content: "";
    display:block;
    @include animation(pong-loader $pong-loader-speed infinite linear);
    @include border-radius(50%);
    position: absolute;
    left: 0;
    top: 0;
    width: $pong-loader-size;
    height: $pong-loader-size;
    background: $pong-loader-color;
  }
}
