@import "base";

$wobblebar-size: 128px;
$wobblebar-speed: 15000ms;
$wobblebar-color: #a9d;

@include keyframes(wobblebar) {
  0%  { left: ($wobblebar-size / 32); }
  3%  { left: (26 * $wobblebar-size / 32); }
  
  6% { left: ($wobblebar-size / 32); }
  9% { left: (26 * $wobblebar-size / 32); }
  
  12% { left: ($wobblebar-size / 32); }
  15% { left: (26 * $wobblebar-size / 32); }

  18% { left: (8 * $wobblebar-size / 32); }
  
  27% { left: (8 * $wobblebar-size / 32); }
  30% { left: (26 * $wobblebar-size / 32); }
  
  
  33%  { left: ($wobblebar-size / 32); }
  36%  { left: (26 * $wobblebar-size / 32); }
  
  39% { left: ($wobblebar-size / 32); }
  42% { left: (26 * $wobblebar-size / 32); }
  
  45% { left: ($wobblebar-size / 32); }
  48% { left: (26 * $wobblebar-size / 32); }

  51% { left: (13 * $wobblebar-size / 32); }
  
  63% { left: (13 * $wobblebar-size / 32); }
  
  66%  { left: ($wobblebar-size / 32); }
  69%  { left: (26 * $wobblebar-size / 32); }
  
  72% { left: ($wobblebar-size / 32); }
  75% { left: (26 * $wobblebar-size / 32); }
  
  78% { left: ($wobblebar-size / 32); }
  81% { left: (26 * $wobblebar-size / 32); }

  84% { left: (18 * $wobblebar-size / 32); }
  
  94% { left: (18 * $wobblebar-size / 32); }
  97% { left: (26 * $wobblebar-size / 32); }
}

/* Styles for old versions of IE */
.wobblebar {
  font-family: sans-serif;
  font-weight: 100;
}

/* :not(:required) hides this rule from IE9 and below */
.wobblebar:not(:required) {
  background: $wobblebar-color;
  @include border-radius($wobblebar-size / 12);
  display: inline-block;
  overflow: hidden;
  text-indent: -9999px;
  width: $wobblebar-size;
  height: ($wobblebar-size / 6);
  position: relative;
  
  &::after {
    @include animation(wobblebar $wobblebar-speed infinite ease);
    background: white;
    display: block;
    @include border-radius(2 * $wobblebar-size / 36);
    content: '';
    position: absolute;
    top: ($wobblebar-size / 36);
    left: ($wobblebar-size / 32);
    width: ($wobblebar-size / 6);
    height: (4 * $wobblebar-size / 36);
  }
}
